<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kúp</title>
</head>
<body>
  <div class="container">
    <h1>Kúp</h1>
    <p>Térfogatszámítás</p>

    <div>
      <div >
        <label for="radius" class="mt-3 mb-2 form-label">Sugár</label>
        <input type="number" [(ngModel)]="radius" class="form-control" min="0" placeholder="méterben kérem megadni az adatokat">
      </div>
      <div>
        <label for="height" class="mt-3 mb-2">Magasság</label>
        <input type="number" [(ngModel)]="height" class="form-control" min="0" placeholder="méterben kérem megadni az adatokat">
      </div>
      <div>
        <button class="btn btn-primary mt-2" (click)="startCalc()" >Számít</button>
      </div>
      <div>
        <label for="volume" class="mt-3 mb-2">Térfogat</label>
        <input type="number" [(ngModel)]="volume" class="form-control" readonly>
      </div>
    </div>

  </div>
</body>
</html>